# Dependencies
node_modules/
**/node_modules/

# Environment files
**/.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# IDE specific files
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db